pytest
pytest-cov
codecov
click
xlrd>=1.0.0
openpyxl
# documentation
mkdocs-material
mkdocs-markdownextradata-plugin
mkdocs-macros-plugin
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin